/*font*/
body {
    font-family: "Lobster Two", serif;
    margin: 0;
    background-color: rgb(198, 25, 25);
}
/*header stuff*/
header {
    font-family: none;
    background-color: rgb(198, 25, 25);
    color: rgb(255, 255, 255)
}
/*dragon types heading stuff*/
header h1 {
    color: rgb(198, 171, 56)
}
/*nav stuff*/
nav {
    background-color: rgb(198, 25, 25);
    padding: 1rem;
    font-weight: 700;
}
nav li a:hover {
    color: rgb(198, 171, 56);
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0 48px;
}
nav a {
    text-decoration: none;
}
/*dragon types nav stuff*/
nav dt a:hover {
    color: rgb(198, 171, 56);
}
nav dt {
    margin: 0;
    padding: 0 10px;
}
/*main stuff*/
main a:hover {
    color: rgb(198, 171, 56);
}
main h1 {
    background-color: rgb(198, 25, 25);
    color: rgb(198, 171, 56);
    padding: .5rem;
    margin: 0;
}
main p {
    background-color: rgb(198, 25, 25);
    color: rgb(198, 171, 5);
    margin: 0;
    padding: .5rem;
}
main ul {
    background-color: rgb(198, 25, 25);
    color: rgb(198, 171, 56);
    margin: 0;
}
main {
    background-color: rgb(198, 25, 25);
    color: rgb(198, 171, 56);
    margin: 0;
    padding: .5rem;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}
main address a:hover {
    color: rgb(255, 255, 255);
}
main ul {
    list-style-type: square;
    padding: 1.5rem;
    margin: 0;
}
/*western dragon main stuff*/
main ol {
    list-style-type: georgian;
    margin: 0;
    padding: 0 10px;
}
/*footer stuff*/
footer {
    background-color: rgb(198, 25, 25);
    color: rgb(198, 171, 56);
}
footer a:hover {
    color: rgb(198, 171, 56);
}